/**
* This project contains the following stylesheets:
*
* base.css
* layout.css
* components.css
*/





/**
* This stylesheet contains:
*
* BOX-SIZING
*
* GLOBAL RULES
*   body
*   h6
*   input, textarea
*   ::placeholder
*
* HELPERS
*   inline-block
*   flexbox
*
* GLOBAL COLORS
*   variables
*/





/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

* { box-sizing: border-box }





/*------------------------------------*\
  #GLOBAL RULES
\*------------------------------------*/

body {
  font-family:    "Montserrat";
  height:         900px;
  width:          1600px
}


h6 {
  font-size:      12px;
  font-weight:    bold;
  letter-spacing: 2.4px;
  text-transform: uppercase
}


input, textarea {
  background:     var(--input-color);
  padding:        16px 0 16px 24px;
  border:         0;
  outline:        0;
  appearance:     textarea
}

input::placeholder, textarea::placeholder {
  font-family:    "Montserrat";
  color:          var(--placeholder-color);
  font-weight:    bold
}


button {
  color:          var(--secondary-color);
  background:     var(--primary-color);
  border:         0;
  border-radius:  9999px
}





/*------------------------------------*\
  #HELPERS
\*------------------------------------*/

.inline-block { display: inline-block }


.flex-wrapper { display: flex }

.flex-column { flex-direction: column }

.space-between { justify-content: space-between }

.space-evenly { justify-content: space-evenly }

.align-items-center { align-items: center }

.row-reverse { flex-direction: row-reverse }


.float-right { float: right }





/*------------------------------------*\
  #GLOBAL COLORS
\*------------------------------------*/

:root {
  --primary-color:              #6200EA;
  --secondary-color:            #FFFFFF;
  --dark-paragraph-color:       #211138;
  --light-paragraph-color:      #FFFFFF;
  --dark-paragraph-background:  #B2ACBA;
  --light-paragraph-background: #FFFFFF;
  --input-color:                #F4F3F5;
  --placeholder-color:          rgb(33,17,56,0.3);
}