/**
* This project contains the following stylesheets:
*
* base.css
* layout.css
* components.css
*/





/**
* This stylesheet contains:
*
* BOX-SIZING
*
* GLOBAL RULES
*   body
*   h6
*   ::placeholder
*
* HELPERS
*   inline-block
*   flexbox
*
* GLOBAL COLORS
*   variables
*/





/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

* { box-sizing: border-box }





/*------------------------------------*\
  #GLOBAL RULES
\*------------------------------------*/

body {
  font-family:    "Montserrat";
  height:         900px;
  width:          1600px
}


h6 {
  font-size:      12px;
  font-weight:    bold;
  letter-spacing: 2.4px;
  text-transform: uppercase
}


*::placeholder {
  font-family:    "Montserrat";
  color:          var(--placeholder-color);
  font-weight:    bold
}





/*------------------------------------*\
  #HELPERS
\*------------------------------------*/

.inline-block { display: inline-block }


.flex-wrapper { display: flex }

.flex-column { flex-direction: column }

.space-between { justify-content: space-between }

.space-evenly { justify-content: space-evenly }

.align-items-center { align-items: center }


.float-right { float: right }

.clearfix:after {
  content: "";
  display: table;
  clear: both
}


.right-position {
  position: absolute;
  right: 0
}





/*------------------------------------*\
  #GLOBAL COLORS
\*------------------------------------*/

:root {
  --primary-color:          #6200EA;
  --secondary-color:        #FFFFFF;
  --dark-paragraph-color:   #211138;
  --light-paragraph-color:  #FFFFFF;
  --input-color:            #F4F3F5;
  --placeholder-color:      rgb(33,17,56,0.3);
}