/**
* This stylesheet contains:
*
* Sidebar
* Header
* Chat
* Sending-message
*/





/*------------------------------------*\
  #SIDEBAR
\*------------------------------------*/

/**
* These rules extend ´.sidebar´ in layout.css
*/

.sidebar { background: white }

  .sidebar__search-box {
    background:       var(--input-color);
    margin:           15px;
  }

    .search-box__input {
      background:       var(--input-color);
      padding:          16px 0 16px 24px;
      border:           0;
      outline:          0;
      width:            calc(100% - 50px);
      height:           50px
    }

    .search-box__icon {
      color:            var(--placeholder-color);
      font-size:        15.8px;
      padding:          15px;
    }


  .sidebar__hr {
    border:           .1px solid #F4F3F5;
    margin:           15px 0;
  }


  .sidebar__profile-img {
    cursor:           pointer;
    width:            50px;
    height:           50px;
    border-radius:    100%
  }

  .sidebar__profile-img--active::before {
    content:          "";
    display:          inline-block;
    position:         relative;
    bottom:           15px;
    right:            15px;
    background:       var(--primary-color);
    width:            5px;
    height:           80px;

  }

  .sidebar__profile-img--amy-adams {
    background:       url(assets/user_avatar_01.png)
                        no-repeat center;
    background-size:  cover
  }

  .sidebar__profile-img--marc {
    background:       url(assets/user_avatar_02.png)
                        no-repeat center;
    background-size:  cover
  }

  .sidebar__profile-img--jacob {
    background:       url(assets/user_avatar_03.png)
                        no-repeat center;
    background-size:  cover
  }

  .sidebar__profile-img--chris-smith {
    background:       url(assets/user_avatar_04.png)
                        no-repeat center;
    background-size:  cover
  }

  .sidebar__profile-img--mia-wong {
    background:       url(assets/user_avatar_05.png)
                        no-repeat center;
    background-size:  cover
  }

  .sidebar__profile-img--jane {
    background:       url(assets/user_avatar_06.png)
                        no-repeat center;
    background-size:  cover
  }


  .sidebar__conversation {
    cursor:           pointer;
    height:           33px
  }

    .conversation__name {
      color:            var(--primary-color);
      margin-bottom:    5px
    }

    .conversation__message {
      font-size:        14px;
      color:            var(--dark-paragraph-color);
      width:            305px;
      height:           15px;
      overflow:         hidden
    }


  .sidebar__add-btn {
    display:          inline-block;
    color:            var(--primary-color);
    font-size:        12px;
    font-weight:      bold;
    letter-spacing:   2.4px;
    text-transform:   uppercase;
    text-decoration:  none;
    text-align:       center;
    padding:          18px;
    border:           2px solid var(--primary-color);
    border-radius:    9999px;
    margin:           0 15px;
    width:            calc(100% - 30px)
  }





/*------------------------------------*\
  #HEADER
\*------------------------------------*/

/**
* These rules extend ´.header´ in layout.css
*/

.header { background: var(--primary-color) }